@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Rowdies:wght@300&display=swap");
body {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: rgba(22, 164, 189, 0.9);
}
ul {
  margin-left: 1%;
  margin-right: 1%;
  font-weight: 400;
  border-radius: 20px;
 
}
li:hover {
  background-color: rgba(22, 164, 189, 0.9);
}
#titleforhead {
  font-family: "Quintessential", cursive;
  font-family: "Staatliches", cursive;
  color: aliceblue;
}
#heading {
  color: #fff;
  font-size: 6vw;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Highland";
  letter-spacing: 0.5vw;
  font-weight: bolder;
}
#subtitle {
  font-weight: lighter;
  font-size: 2vw;
}
#subtitle2 {
  color: #fff;
  /* font-family: 'Handlee', cursive; */
  font-weight: bold;
}
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}
#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
.about-sih {
  color: #00d8e0;
  font-size: 2.2vw;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  margin-left: 1vw;
}
.description {
  font-size: 1.5vw;
  font-family: Roboto;
  text-align: left;
  padding-right: 2vw;
  color: #c4c2c2;
  letter-spacing: 1px;
  margin-left: 1vw;
  
}
.viewsih {
  position: relative;
  font-size: 1vw;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 10px;
  padding: 1vw;
  border: 0.2vw solid transparent;
  margin: 1.5vw 10px 1.5vw 1vw;
  letter-spacing: 0.3vw;
  font-weight: 700;
}
.sihimg {
  text-align: center;
  margin-top: 100px;
}
.meet-heading {
  text-align: center;
  font-size: 3vw;
  margin: 2vw 0;
  font-family: montserrat, sans-serif;
  color: #00d8e0;
  font-weight: bolder;
}
.team {
  background-color: unset;
  text-align: center;
  color: #fff;
  width: 90%;
  margin: auto;
}

.team-member img {
  width: 65%;
  height: auto;
  border-radius: 50%;
  z-index: 30;
  border: 0.5vw solid #fff;
  text-align: center;
  color: #fff;
  width: 90%;
  margin: auto;
}
img,
svg {
  vertical-align: middle;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
.t-name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}
.t-designation {
  font-size: 1.1rem;
  font-weight: 500;
  color: #71c8f1;
  margin-bottom: 3vw;
}
.page-title {
  font-family: montserrat, sans-serif;
  color: #00d8e0;
  font-size: 3vw;
  margin: 2vw 0;
}
/* #fix-top-nav {
  position: fixed;
  width: 100%;
} */
#process-header{
    color: #00d8e0;
    font-size: 2.2vw;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}

.single-announcement{
  border: 2px solid rgb(201, 122, 32);
  margin: 20px;
  background-color: wheat;
}